{% extends 'layouts/base.html' %}
{% load py_to_js_utils %}
{% block app_css %}
{% endblock %}
{% block app_scripts_top %}
    <script>
         var rubab = window.rubab || {};
         rubab.demos = {
             'healthyInstructions': {{  healthy_instructions | js_obj  }}
         }

    </script>
{% endblock app_scripts_top %}


{% block main_content %}

{% endblock main_content%}

{% block app_scripts_bottom %}
    <script src="/static/demos/js/demos.gen.js"></script>
{% endblock app_scripts_bottom%}